@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-style: "DM Sans", sans-serif;
}

body {
    position: relative;
    background-color: #B51A2B;
    height: 100vh;
    font-family: var(--font-style);
}

.main {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
}

.aside {
    display: flex;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #FFA586;
    height: 100vh;
    justify-content: center;
}

.ul-main {
    position: relative;
    list-style-type: none;
    color: white;
}

.li-main {
    position: relative;
    
}