@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: gray;
    background-color: white;
}

:root{
    --font-main: "Urbanist", sans-serif;


    --size-h2: clamp(1rem, 0.6rem + 1.7vw, 5rem); /* (16px,43px,80px) x 1920 */
    --size-h3: clamp(0.6rem, 0.2rem + 1.7vw,4rem); /* (10px,3px + 33px,64px) x 1920 */
    /* --size-h4:  */


    --size-xs: clamp(0.1rem,0.5vw,1rem); /* (1.6px,9.6px,16px) x 1920 */
}

body {
    display: flex;
    position: relative;

    background: linear-gradient(#d41c32,rgb(218, 145, 12));
    color: white;

    font-family: var(--font-main);

    height: 100vh;
}

.side-nav {
    display: flex;
    position: fixed;
    
    height: 100%;
    width: 20%;
    border-radius: 0.5rem;
    padding: 2rem;

    background: rgba(255, 255, 255, 0.1);
    
    flex-direction: column;
    /* align-items: center; */
}

.header {
    display: flex;

    padding: 10px 20px;

    justify-content: space-between;
}

.list-icon{
    align-self: center;
}

.list-icon:hover {
    color: #EDEADE;
    cursor: pointer;
}

.header h4 {
    display: flex;

    /* font-size: var(--size-h2); */
    font-size: 35px;
    font-family: var(--font-main);
}

.input-space {
    display: flex;

    padding: 40px 20px 20px 20px;
    /* width: 90%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 0.5rem; */

    /* background-color: green; */

    border-bottom: 1px solid white;

    /* align-self: center; */
}

.input-task {
    width: 98%;

    border-radius: 0.5rem;
    padding: 20px;

    border: none;
    outline: none;

    text-align: center;

    font-size: 1.2rem;
    color: rgb(27, 25, 25);
}

.input-task::placeholder{
    color: gray;

    text-align: center;
}

.icon-search {
    display: flex;
    position: absolute;

    color: gray;

    align-self: center;
}

.icon-search:hover {
    cursor: pointer;
}

.sub-title {
    display: flex;

    padding: 30px 20px;
}

h3 {
    font-size: 30px;
    /* font-size: var(--size-h3); */
    font-weight: 600;
}

.proj-content {
    display: flex;
    
    padding: 20px 10px;

    flex-grow: 1;
}

.proj-ul {
    display: flex;

    margin: 0 10px;
    width: 100%;

    flex-direction: column;
    list-style-type: none;
    align-self: flex-start;
}

.proj-li {
    display: flex;

    padding: 15px 7px;
    border-radius: 0.8rem;

    line-height: 200%;
}

.proj-li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

p {
    font-size: 1.4rem;
}

.socials-ul {
    display: flex;

    padding: 20px 10px;
    
    list-style-type: none;
    align-self: center;
}

.socials-li {
    padding: var(--size-xs);
}

.icon:hover {
    color: #EDEADE;
    cursor: pointer;
}

.main-content {
    display: grid;

    grid-template-columns: repeat(25, 1fr);
}