@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: gray;
    background-color: white;
}


:root{
    --font-style: "DM Sans", sans-serif;

    --size-h1: clamp(1rem, .5692rem + 0.8vw, 8.75rem);

}

body {
    position: relative;

    background: linear-gradient(#d41c32,rgb(218, 145, 12));
    color: white;
    
    font-family: var(--font-style);

    height: 100vh;
}

.side-nav {
    display: flex;
    position: fixed;
    
    height: 100%;
    width: 20%;
    border-radius: 0.5rem;
    padding: 2rem;
    
    /* top: 0;
    left: 0; */

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.side-nav h1 {
    display: flex;
    position: absolute;

    text-align: center;

    font-size: var(--size-h1);

}

h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 2rem;
    margin-top: 20rem;
}

.ul-main {
    position: relative;
    list-style-type: none;
    text-align: center;
    width: 100%;
    align-self: center;
    margin: 0px;
}

.li-main {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0px;
    padding: 20px 20px;
}