@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: gray;
    background-color: white;
}

:root{
    --font-main: "Urbanist", sans-serif;


    --size-h2: clamp(1rem, 0.6rem + 1.7vw, 5rem); /* (16px,43px,80px) x 1920 */
    --size-h4: clamp(0.6rem, 0.2rem + 1.7vw,4rem); /* (10px,3px + 33px,64px) x 1920 */
    --size-h4mini: clamp(0.6rem, 0.2rem + 1.5vw,3.7rem); /* (10px,3px + 29px,59px) x 1920*/


    --size-xs: clamp(0.1rem,0.5vw,1rem); /* (1.6px,9.6px,16px) x 1920 */
}

body {
    display: flex;
    position: relative;

    background: linear-gradient(#d41c32,rgb(218, 145, 12));
    color: white;

    font-family: var(--font-main);

    height: 100vh;

}

#root{
    display: flex;

    height: 100%;
    width: 100%;
}

.side-nav {
    display: flex;
    position: fixed;
    
    height: 100%;
    width: 20%;
    border-radius: 0.5rem;
    padding: 2rem;

    background: rgba(255, 255, 255, 0.1);
    
    flex-direction: column;
    /* align-items: center; */
}

.header {
    display: flex;

    padding: 10px 20px;

    justify-content: space-between;
}

.list-icon{
    align-self: center;
}

.list-icon:hover {
    color: #f5f4f0;

    cursor: pointer;
}

.header h4 {
    display: flex;

    font-size: var(--size-h4);
    font-family: var(--font-main);
}

.input-space {
    display: flex;

    width: 86%;
    margin-top: 50px;
    padding: 20px 10px;

    border-radius: 0.5rem;

    background-color: white;

    align-self: center;
    justify-content: space-between;
}

.input-task {
    display: flex;

    border-radius: 0.5rem;
    width: 88%;
    
    margin: 0 5px;

    border: none;
    outline: none;

    font-size: 1.2rem;
    color: rgb(27, 25, 25);
}

.input-task::placeholder{
    color: gray;
}

.icon-search {
    display: flex;

    color: gray;
    
    margin: 0;
    align-self: center;
}

.icon-search:hover {
    cursor: pointer;
}

.border {
    display: flex;
    
    border: 1px solid white;
    
    width: 86%;
    margin: 30px 0;

    align-self: center;
}

.sub-title {
    display: flex;

    padding: 10px 20px;
}

.sub-title h4 {
    font-size: var(--size-h4mini);
    font-weight: 600;
}

.proj-content {
    display: flex;
    
    padding: 10px 10px;

    flex-grow: 1;
}

.proj-ul {
    display: flex;

    margin: 0 10px;
    width: 100%;

    flex-direction: column;
    list-style-type: none;
    align-self: flex-start;
}

.proj-li {
    display: flex;

    padding: 15px 7px;
    border-radius: 0.8rem;

    line-height: 200%;
}

.proj-li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

p {
    font-size: 1.4rem;
}

.socials-ul {
    display: flex;

    padding: 10px 10px;
    
    list-style-type: none;
    align-self: center;
}

.socials-li {
    padding: var(--size-xs);
}

.icon:hover {
    color: #EDEADE;
    cursor: pointer;
}

.main-content {
    display: flex;

    margin-left: 20%;
}

.grid {
    display: grid;

    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(21,1fr);
}

.main-title {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;


}

.main-title h2 {
    font-size: var(--size-h2);
}

.section-task-layout {
    display: flex;

    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 1.2rem;

    padding: 40px;

    grid-column-start: 6;
    grid-column-end: 16;

    grid-row-start: 5;
    grid-row-end: 21;
}

.task-ul {
    display: flex;

    height: 100%;
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    list-style-type: none;
}

.task-li {
    display: flex;
    
    width: 80%;
    height: 45%;
    
    border-radius: 1rem;

    background-color: white;
}
